.button{
    color: white;
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #E30611;
    padding: 0.25rem 1.5rem;
    border-radius: 25px;
    font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #810006;
}
