.Link{
    color: rgb(0, 0, 0);
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #ffffff;
    padding: 0.55rem 3rem;
    border-radius: 25px;
    font-weight: bold;
}

.Link:hover,
.Link:active {
  background-color: #a3a3a3;
}

.Link2{
    color: rgb(255, 255, 255);
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #E30611;
    padding: 0.55rem 3rem;
    border-radius: 25px;
    font-weight: bold;
}

.Link2:hover,
.Link2:active {
  background-color: #810006;
}
