.button {
  color: rgb(0, 0, 0);
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #ffffff;
  padding: 0.25rem 1.5rem;
  border-radius: 25px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #a3a3a3;
}

.button:disabled {
  background-color: #bbbbbb;
  cursor: not-allowed;
}

.form {
  border-radius: 6px;
  background-color: #e30611;
  padding: 1rem;
  /* width: 100%; */

  margin: 3rem auto;
  width: 90%;
  max-width: 80rem;
  text-align: center;
}

.label {
  font-weight: bold;
}

.p {
  font-weight: bold;
}
