.button{
    color: white;
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #b64545;
    padding: 0.25rem 1.5rem;
    border-radius: 25px;
    font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #2c0d00;
}

.button:disabled {
    background-color: #b64545;
    cursor:not-allowed;
  }

.form {
    border-radius: 6px;
    background-color: rgb(231, 117, 117);
    padding: 1rem; 
    /* width: 100%; */
  
    margin: 3rem auto;
    width: 90%;
    max-width: 80rem;
    text-align: center;
    
  }
  